{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    {% load static %}
    <title>{{category.name}}</title>
</head>
<body class="bg-gradient-to-r from-slate-50 to-gray-50">
    <nav class="top-0 sticky z-50 backdrop-blur-lg px-4 md:px-10 py-2 md:py-3 flex justify-between">
        <div class="flex">
            <a href="{% url "home" %}"> <h1 class="text-black text-xl font-bold">MarketPlace</h1></a>
        </div>
        <div id="side-bar" class="md:hidden cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </div>
      </nav>
  <style>
    .transition-transform {
        transition: transform 0.3s ease-in-out;
    }
    .translate-x-0 {
        transform: translateX(0);
    }
    .-translate-x-full {
        transform: translateX(+100%);
    }
  </style>
  <div id="sidebar" class="fixed top-0 right-0 w-64 h-full bg-white text-black p-5 z-50 transition-transform transform -translate-x-full">
    <div class="flex flex-col gap-6">
        <button id="close-sidebar" class="self-end text-lg font-bold cursor-pointer">&times;</button>
        {% if user.is_authenticated %}
        <div class="flex flex-col gap-2 justify-center items-center border-b ">
            <a href="../../profile/{{user.username}}/"><img src="{{profile.profile_picture.url}}" alt="" class="rounded-full border border-neutral-900 w-20 h-20"></a>
            <a href="../../profile/{{user.username}}/" class="text-black text-lg text-center">{{user.username}}</a>
        </div>
        {% else %}
        <div class="flex flex-col gap-2 justify-center items-center border-b ">
            <img src="media/avatar.png" alt="" class="rounded-full border border-neutral-900 w-20 h-20">
            <a href="" class="text-black text-lg text-center">Login</a>
        </div>
        {% endif %}

        <div class=" mt-5">
        <ul class="flex flex-col gap-5">
          <li class="hover:text-orange-700">Categories</li>
          <li class="hover:text-orange-700">Brands</li>
          <li class="hover:text-orange-700"> <a href="{% url "add_product" %}">add a product</a></li>
      </ul>
    </div>
    <div class="end-0">
        <form action="{% url "logout" %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="border border-black text-black rounded-xl px-2 py-1">Logout</button>
        </form>
        
    </div>
    </div>
  </div>
  <script>
    document.getElementById('side-bar').addEventListener('click', function() {
        document.getElementById('sidebar').classList.remove('-translate-x-full');
        document.getElementById('sidebar').classList.add('translate-x-0');
    });
  
    document.getElementById('close-sidebar').addEventListener('click', function() {
        document.getElementById('sidebar').classList.remove('translate-x-0');
        document.getElementById('sidebar').classList.add('-translate-x-full');
    });
  </script>
    <div class="flex flex-col justify-center items-center gap-16">
        <div class=" bg-white sticky w-screen h-auto border-b-2 mx-5 flex flex-row justify-between px-10">
            <div class=" pt-10 mx-10 pb-5">
                <h1 class="text-2xl font-sans">{{category.name}}({{product_count}})</h1>
            </div>
            <div class="sort-by  pt-10 pb-5 mx-10  relative group hover:block">
                <span class="SortBy hover:text-red-700">Sort by</span>
                <div id="popupModam" class="absolute w-48 h-auto bg-white rounded-lg shadow-lg hidden group-hover:block">
                  <a href="?sort=price_asc" class="{% if sort_option == 'price_asc' %}font-bold text-red-700{% endif %} font-sans ml-2">Low to High</a> <br>
                  <a href="?sort=price_desc" class="{% if sort_option == 'price_desc' %}font-bold text-red-700{% endif %} font-sans ml-2">High to Low</a>
                </div>
                </div>
            
        </div>
        <div class="rounded-3xl w-auto h-auto items-center">
            <ul class="flex flex-col md:flex-row md:flex-wrap justify-center gap-6 mt-10 mb-10 mx-10">
                {% for product in products %}
                <div class="flex flex-row gap-2">
                    <a href="../../profile/{{ product.user.username }}/">{{ product.user.username }}</a>
                    <h1>posted this :</h1>

                </div>
                
                <li class=" bg-white shadow-lg shadow-neutral-400 rounded-xl w-56 h-auto flex flex-col gap-1 items-center hover:scale-105">
                   <a href="/../../product/{{product.title}}/"> <div class="h-30 w-40 mt-2">
                       <img class="h-auto w-auto rounded-lg" src={{product.image.url}}  alt="">
                    </div>
                    <div class=" pt-2">
                        <h1>{{product.title}}</h1>
                    </div>
                    <p class="font-sans text-gray-600">{{ product.user.username }}</p>
                    
                    <h2 class="font-sans pb-3">{{product.price}} $</h2>
                </a>
                    
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
    {% include "components/footer.html" %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
          const dropdownButton = document.querySelector('.group button');
          const dropdownMenu = document.querySelector('.group .absolute');
    
          dropdownButton.addEventListener('click', function () {
              dropdownMenu.classList.toggle('hidden');
          });
      });

      
      </script>
    
</body>
</html>